//style.scss
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

$font_size01: 12px;
$title01: 16px;
$color0: #333;
$color1: #00f;
$color2: #f00;
$color3: #0f0;
$color4: #ff0;
$color5: #fff;
$time : 0.5s;

h2{
  font-size: $title01;
  color: $color1;
}
@mixin h3txt{
  font-family: "Noto Sans KR", "맑은 고딕", Arial, sans-serif;
  font-size: 30px;
  color: $color2;
}
@mixin btn{
  padding: 4px 10px;
  color: $color5;
}
@mixin p01{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title01{
  @include h3txt;
}
.btn1{
  @include btn;
  background: $color0;
}
.btn2{
  @include btn;
  background: $color1;
}

.p01{
  width: 250px;
  @include p01;
}

// 공통 버튼 서식(글자관련)
@mixin btnFont{
  font-family: "궁서체";
  font-weight: bold;
  font-size: 20px;
}

// 공통 버튼 서식(컬러, 여백관련)
@mixin btnArea{
  border: 1px solid #ccc;
  padding: 5px 30px;
  border-radius: 30px;
}

@mixin btn{
  @include btnFont;
  @include btnArea;
}
.btn3{
  @include btn;
  background: $color4;
  transition: $time;
}
.btn4{
  @include btn;
  background: $color3;
  transition: $time;
}
.btn3:hover, .btn4:hover{
  background: $color2;
  color: $color5;
}

// 모바일 bar서식
.toggle_btn{
  width: 40px; height: 40px;
  display: block;
  border: 1px solid #ccc;
  position: relative;
}
#toggle:checked + label > .bar1{transform: rotate(45deg) translate(9px, 10px);
}
#toggle:checked + label > .bar2{opacity: 0;}
#toggle:checked + label > .bar3{transform: rotate(-45deg) translate(9px, -10px);
}

@mixin bar{
  position: absolute;
  display: inline-block;
  width: 38px; height:3px;
  background: $color0;
  transition: $time;
  left: 1px
}
.bar{@include bar;}
.bar1{top: 5px;}
.bar2{top: 18px;}
.bar3{bottom: 5px;}

.toggle{
  width: 40px; height: 40px;
  border: 1px solid $color2;
  position: relative;
  cursor: pointer;
  transition: $time;
}
// span 회전하기 위한 클래스명
.rotate45{
  transform: rotate(45deg);
  top: 18px !important;
}
.rotate0{
  transform: rotate(0);
  display: none;
}
.rotate_45{
  transform: rotate(-45deg);
  top: 18px !important;
}

@mixin sns{
  font-size: 30px;
  color: $color0;
  border: 1px solid $color0;
  padding: 4px 6px;
  background: $color0;
  color: $color5;
}
.sns i{
  @include sns;
  transition: $time;
}
.sns i:hover{color: $color2;}
