@charset "utf-8";

//글자서식
$font_size_title:30px;

//변수에 색상값 저장
$color01:#00f;

$border01:1px solid #333;
$top:45%;

h3{
  // 글자색 color01변수값적용
  color:$color01;
  font-size:$font_size_title;
};
ul{border:$border01;}

i.fas{
  position:absolute;
  top:$top;
}

div{
  top:$top;
}
